PORT=3000
MONGODB_URI=mongodb://localhost:27017/tournament-engine
NODE_ENV=development

# Required by existing auth module
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=

# Optional
PROFILE_API_KEY=
